/* Styles for form */
@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

body {
  background-color: hsl(234, 29%, 20%);
  color: hsl(235, 18%, 26%);
  font-family: "Roboto-Regular", sans-serif;
}

ul {
  padding-left: 0;
}

ul img {
  margin-right: 10px;
}

li {
  list-style-type: none;
}

label {
  font-family: "Roboto-Bold";
  font-size: 14px;
}

.email-top {
  display: flex;
  justify-content: space-between;
}

.form-container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form button {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-family: "Roboto-Bold", sans-serif;
}

button:hover {
  border-color: rgb(255, 85, 117);
  background: linear-gradient(
    90deg,
    rgba(255, 85, 117, 1) 0%,
    rgba(255, 94, 94, 1) 50%,
    rgba(255, 103, 66, 1) 100%
  );
  box-shadow: rgb(255, 85, 117) 0px 5px 12px;
}

.form-intro {
  align-self: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.form-intro h1 {
  font-size: 40px;
}

.form-img {
  height: 500px;
}

.form-input {
  margin: 10px 0 10px 0;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 8px;
}

.error-message {
  align-self: end;
  margin: 0;
  color: red;
  font-size: 14px;
}

.list {
  display: flex;
  padding: 10px 0;
}

.success-container {
  width: 400px;
  padding: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.success-container img {
  height: 45px;
}

.success-inner-content {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.success-container h1 {
  font-size: 40px;
  font-family: "Roboto-Bold", sans-serif;
}

.success-container p {
  font-size: 14px;
}

.success-container button {
  width: 300px;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-family: "Roboto-Bold";
}

.attribution {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
  color: hsl(0, 0%, 100%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .form-container {
    flex-direction: column;
    width: 330px;
    margin-top: 0;
    background-image: url(./assets/images/illustration-sign-up-mobile.svg);
    background-repeat: no-repeat;
  }

  .form-container img {
    display: none;
  }

  .form-intro {
    width: fit-content;
    margin-top: 270px;
  }
}
